body{
    margin: 0;
    padding: 0;
    font: 12px 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
input:focus{
    outline: none;
}
button:focus{
    outline: none;
}
a{
    color: #222;
}
a:hover{
    color: #222;
}
.head{
    position: fixed;
    z-index: 999;
    height: 42px;
    width: 100%;
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.head_content{
    height: 42px;
    width: 980px;
    margin: auto;
}
.head_left{
    float: left;
    height: 42px;
    display: flex;align-items: center; /*垂直居中*/
}
.head_title{
    float: left;
    color: #222;
    padding: 0 10px;
}
.head_left_menu li{
    float: left;
    display: flex;align-items: center; /*垂直居中*/
    height: 42px;
    padding: 0 10px;
    cursor: pointer;
    list-style: none;
}
.head_left_menu li:hover{
    background-color: rgba(192,192,192,.3);
}
.head_left_menu li a{
    text-decoration: none;
    color: #222;
}
/*搜索框*/
.search{
    float: left;
    margin-left: 50px;
    padding: 2px 5px;
    border-radius: 5px;
    border: gainsboro solid 1px;
}
.search_input{
    float: left;
    color: #8590a6;
    outline: none;
    border: none;
}
.search_div_button{
    float: left;
}
.search_button{
    color: #8590a6;
    cursor: pointer;
    border: none;
    background: none;
}

.head_right_login{
    float: right;
    height: 42px;
    width: auto;
    padding: 0 10px;
    display: flex;align-items: center; /*垂直居中*/
}
.head_right_login:hover{
}
.head_right_login img{
    border-radius: 50%;
    margin: 0 15px;
    height: 32px;
    width: 32px;
}
.head_right_login_name{
    margin: 0 10px;
}
.head_right_login_menu li{
    float: left;
    display: flex;align-items: center; /*垂直居中*/
    height: 42px;
    padding: 0 10px;
    cursor: pointer;
    list-style: none;
}
.head_right_login_menu li:hover{
    background-color: rgba(192,192,192,.3);
}
.head_right_login_menu li a{
    text-decoration: none;
    color: #222;
}

/*轮播图*/
.swiper-container{
    min-width: 980px;
    width: 100%;
    height: 170px;
}

/*搜索框*/
.container_search_position{
    position: relative;
    width: 980px;
    margin: auto;
}
.container_search{
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 268px;
    padding: 2px 2px 2px 72px;
    background-color: #e5e9ef;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    font-size: 12px;
    z-index: 10;
}
.container_search_form{
    background-color: hsla(0,0%,100%,.88);
    display: block;
    height: 32px;
    border-radius: 4px;
    transition: background-color .2s;
}
.container_search_input{
    float: left;
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
.container_search_button{
    display: block;
    position: absolute;
    right: 0;
    width: 48px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    border: 0;
    border: none;
    background: none;
}

/*主内容*/
.container_content{
    width: 980px;
    margin: auto;
}
/*菜单*/
.container_menu{
    position: relative;
    width: 980px;
    height: 50px;
    padding: 8px 0 0;
    margin: 0 auto 4px;
    z-index: 99;
    border-bottom: 1px solid #fff;
}
.container_menu>ul{
    position: relative;
    z-index: 200;
    height: 42px;
    color: #222;
}
.container_menu>ul>li{
    float: left;
    list-style: none;
}
.container_menu>ul>li>a{
    display: block;
    width: 46.6px;
    text-align: center;
    height: 30px;
    padding: 2px;
    text-decoration: none;
}
.container_menu_home{
    margin-top: 8px;
    height: 14px;
}
.container_menu_num{
    margin-top: 8px;
    height: 14px;
}
.container_menu_num span{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    transform: scale(.85);
    color: #fff;
    background-color: #ffafc9;
    border-radius: 3px;
    height: 14px;
    line-height: 12px;
    padding: 1px 3px;
    font-family: sans-serif,sans-serifsans-serif,Calibri,Arial,Helvetica
}
.container_menu_list{
    position: relative;
    margin: 0;
}
.container_menu_list ul{
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    overflow: hidden;
    background: #fff;
    border: 1px solid\9;
    border-top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    border-radius: 0 0 4px 4px;
    z-index: 99;
    height: auto;
}
.container_menu_list li{
    position: relative;
    font-size: 12px;
    line-height: 20px;
    min-width: 120px;
    height: auto;
    overflow: hidden;
    text-align: left;
    transition: all .2s;
}
.container_menu_list li a{
    display: block;
    padding: 5px 15px 5px 25px;
    white-space: nowrap;
    transition: all .2s;
    color: #222;
}