body{
    /*background-color: #1E90FF;*/
    background-color: rgba(231,231,231,.5);
    /*background-image: radial-gradient(closest-side at 50% 135%, rgb(255, 255, 255) 50%, rgb(236, 239, 241) 100%);*/
}
.login_box{
    position: absolute;
    top: 200px;
    left: 50%;
    /*margin-top: 50%;*/
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.04) 0 4px 20px;
    background: white;
    padding: 40px 29px 33px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    margin-left: -200px;
}
.login_box h3{
    text-align: center;
    height: 39px;
    margin-bottom: 31px;
}
.login_box input{
    color: rgb(55, 71, 79);
    background: white;
    border-color: rgb(189, 189, 189);
    margin-bottom: 20px;
}
.login_box button{
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: rgba(38, 50, 56, 0.2) 0px 0px 0px 1px inset;
    height: 40px;
    border-radius: 3px;
    transition: all 0.18s ease-in-out 0s;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: rgb(69, 90, 100);
    padding: 0px 12px;
    width: 100%;
}
.login_box button:focus{
    outline: none;
}
.login_menu{
    margin-top: 20px;
}
.login_menu span{
    float: right;
    cursor: pointer;
}
.reg_box{
    display: none;
}