.vedio_left{
    margin-top: 62px;
    width: 660px;
    height: 1000px;
    float: left;
}
.vedio_info{
    margin-bottom: 16px;
}
.vedio_title{
    font-size: 18px;
    font-weight: 500;
    color: #212121;
    line-height: 26px;
    height: 26px;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vedio_play_info{
    margin-top: 11px;
    font-size: 12px;
    height: 16px;
    color: #999;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vedio_play{
    width: 660px;
    /*height: 450px;*/
}
.vedio_play_box video{
    width: 660px;
    height: 450px;
    outline: none;
    background-color: #212121;
}
.vedio_remark{
    width: 660px;
}
.vedio_des{
    margin-top: 16px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e9ef;
}

.vedio_list{
    padding-left: 30px;
    margin-top: 62px;
    width: 320px;
    height: 1000px;
    float: left;
}
.vedio_author{
    width: 100%;
    padding: 19px 20px;
    height: 80px;
    margin-bottom: 16px;
}
.vedio_author img{
    height: 42px;
    margin: 0 10px;
    float: left;
}
.vedio_author_box{
    height: 42px;
    width: 200px;
}
.vedio_author_name{
    float: top;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
}
.vedio_author_des{
    color: #999;
    float: bottom;
    height: 17px;
    line-height: 17px;
}
.vedio_play_list{
    margin-bottom: 20px;
    background: #f4f4f4;
    color: #222;
    border-radius: 2px;
}
.head-con{
    display: flex;
    color: #222;
    padding: 10px 16px 0;
}
.head-con h3{
    font-size: 16px;
    font-weight: 400;
}
.range-box{
    flex: 1;
}
.range-box span{
    float: right;
    font-size: 12px;
    color: #999;
    line-height: 16px;
}
.cur-list{
    padding: 4px 0;
    transition: all .3s;
}
.list-box{
    padding: 0 6px;
    max-height: 340px;
    overflow: auto;
}
.list-box li{
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    transition: all .3s;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-box li:hover{
    background: #fff;
}
.list_title{
    font-size: 12px;
    margin-left: 15px;
    margin-right: 10px;
    color: #212121;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-box i{
    display: none;
    height: 14px;
    width: 14px;
    font-size: 20px;
    margin-right: 5px;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 30px;
    text-rendering: optimizeLegibility;
}
.on{
    background: #fff;
    padding: 0 6px;
    color: #03a0d6;
}
.on a{
    color: #03a0d6;
}
.on i{
    display: inline-block;
}
.vedio_remark_title{
    font-size: 18px;
    line-height: 24px;
    color: #222;
    margin: 0 0 20px;
}
.remark_num{
    font-size: 18px;
    line-height: 24px;
    color: #222;
    margin: 0 0 20px;
}
.vedio_remark_top{
    margin: 0 0 24px;
    height: 37px;
    border-bottom: 1px solid #e5e9ef;
}
.vedio_remark_top_tabs{
    float: left;
    margin-bottom: -1px;
}
.tabs_ul{
    list-style: none;
    color: #222;
}
.tabs_ul li{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 8px 0;
    margin-right: 16px;
    border-bottom: 1px solid transparent;
    position: relative;
    float: left;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
}
.comment-send{
    margin: 10px 0;
}
.user-face{
    float: left;
    margin: 7px 0 0 5px;
    position: relative;
}
.user-face img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.textarea-container{
    position: relative;
    margin-left: 85px;
    margin-right: 80px;
}
.textarea-container textarea{
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
}
.comment-submit{
    width: 70px;
    height: 64px;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    background-color: #00a1d6;
    border: 1px solid #00a1d6;
    transition: .1s;
    user-select: none;
    outline: none;
}
.container_list{
    padding-top: 20px;
}
.user-face-img{
    float: left;
    margin: 24px 0 0 5px;
    position: relative;
}
.user-face-img img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.con{
    position: relative;
    margin-left: 85px;
    padding: 22px 0 14px;
    border-top: 1px solid #e5e9ef;
}
.user{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 4px;
    display: block;
    word-wrap: break-word;
}
.user_name{
    font-size: 12px;
    color: #6d757a;
}
.user p{
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}
.remark_info{
    color: #99a2aa;
    line-height: 26px;
    font-size: 12px;
}
.plad{
    margin-right: 20px;
}